.footer{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 48px 0;
    border-top: 1px solid #090909;
}

.contacts {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
  }
  
  .contacts img{
    width: 45px;
  }
  
  .contacts .icon {
    color: #ffffff;
    font-size: 2rem;
    transition: transform 0.3s ease, color 0.3s ease;
  }
  
  .contacts .icon:hover {
    transform: scale(1.2);
    color: #fad0c4;
  }