.container{
  position: relative;
  height: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 12px;
}

.contacts{
  display: flex;
  align-items: center;
  gap: 24px;
}
.contacts img{
  width: 45px;
}

.h1{
  font-size: 54px;
  color: transparent;
  -webkit-text-stroke: 2px whitesmoke;
}
.h2{
  font-size: 36px;
}