@import "https://fonts.googleapis.com/css?family=VT323";

.wrapper {
  width: 100dvw;
  height: 100dvh;
  background: #0414a7;
  color: #e0e2f4;
  font-family: "VT323", monospace;
  font-size: 20px;
}

.container {
  width: 90%;
  margin: auto;
  max-width: 640px;
}

.bsod {
  padding-top: 10%;
}
.bsod .neg {
  text-align: center;
  color: #0414a7;
}
.bsod .neg .bg {
  background: #aaaaaa;
  padding: 0 15px 2px 13px;
}
.bsod .title {
  font-size: 2.75rem;
  margin-bottom: 50px;
}
.bsod .nav {
  margin-top: 35px;
  text-align: center;
}
.bsod .nav .link {
  text-decoration: none;
  padding: 0 9px 2px 8px;
}
.bsod .nav .link:hover,
.bsod .nav .link:focus {
  background: #aaaaaa;
  color: #0414a7;
}
